@{
    ViewData["Title"] = "Adminstrative Login";
}

<div class="row">
    <div class="col-6">


        <h3><marquee>Adminstrative Page</marquee></h3>
                <hr />
               
            </div>
        
    
    <div class="col-6">

        <div class="card">
            <div class="vl">
                <div class="card-body">

                    <style>
                        body, html {
                            height: 100%;
                            font-family: Arial, Helvetica, sans-serif;
                        }

                        * {
                            box-sizing: border-box;
                        }



                        /* Set a style for the submit button */
                        .btn1 {
                            cursor: pointer;
                            width: 100%;
                            opacity: 0.9;
                        }

                            .btn1:hover {
                                opacity: 1;
                            }

                        .vl {
                            border-left: 1px dotted black;
                            height: 400px;
                            position: absolute;
                            left: -2%;
                            margin-left: -3px;
                            margin-right: 10px;
                            top: 0;
                        }
                    </style>

                    <h4 class="text-center"><u> Admin Panel</u></h4>
                     <a href="~/Student/Index" button type="submit" class="btn btn-primary"> Records</a>
                    <a href="~/Auth/Dashboard" button type="submit" class="btn btn-primary"> Dashboard</a>
                    <br />
                    <br />
                    <div class="card">
                        <div class="card-body">
                            <h5><b>Student Info</b></h5>
                            <hr />

                            <ul>
                                <li>
                                    The student  who have achieved first three ranks will be awarded with
                                    differnt scholarship
                                </li>

                                <li>
                                    Those who have failed have to aapear in reexam in Nov 30, 2022
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>



