@{
    ViewData["Title"] = "register";
}

<div class="row justify-content-md-center">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h3> register</h3>
                <hr />
                <form method="post">
                    <div class=" =mb-3">
                        <label for="email" class="form-label">Email adress</label>
                        <input type="email" class="form-control" id="email" placeholder="name@example.com" />
                    </div>
                    <div class=" =mb-3">
                        <label for="fullname" class="form-label">Full Name</label>
                        <input type="text" class="form-control" id="fullname" placeholder="Ram Karki" />
                    </div>
                    <div class=" =mb-3">
                        <label for="pass1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="pass1" />
                    </div>
                    <div class=" =mb-3">
                        <label for="pass1" class="form-label">Password Confirmation</label>
                        <input type="password" class="form-control" id="pass1" />
                    </div>
                    <hr />
                    <button type="submit" class="btn btn-primary">register</button>
                </form>
            </div>
        </div>
    </div>
</div>

