@{
    ViewData["Title"] = "Create Students";
}
@model Resultms.Models.Student

<div class="row justify-content-md-center">
    <div class ="col-6">
        <h3 class="text-center text-primary">Create Students Details</h3>

        @if (TempData["msg"] is not null)
        {
            <div class="alert alert-success">@TempData["msg"]</div>
        }

        @if (TempData["error"] is not null)
        {
            <div class="alert alert-danger">@TempData["error"]</div>
        }

        <form method="post" asp-controller="Student" asp-action="Create">

            <div class=" mb-3">
                <label asp-for="Roll" class=" form-label"></label>
                <input class="form-control" asp-for="Roll" />
                <span class="text-danger" asp-validation-for="Roll"></span>
            </div>


             <div class=" mb-3">
                <label asp-for="Name" class=" form-label"></label>
                <input class="form-control" asp-for="Name" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>

            <div class=" mb-3">
                <label asp-for="Math" class=" form-label"></label>
                <input class="form-control" asp-for="Math" />
                <span class="text-danger" asp-validation-for="Math"></span>
            </div>

            <div class=" mb-3">
                <label asp-for="Science" class=" form-label"></label>
                <input class="form-control" asp-for="Science" />
                <span class="text-danger" asp-validation-for="Science"></span>
            </div>

            <div class=" mb-3">
                <label asp-for="Total" class=" form-label"></label>
                <input class="form-control" asp-for="Total" />
                <span class="text-danger" asp-validation-for="Total"></span>
            </div>

            <button type="submit" class="btn btn-success">Save</button> &nbsp
            <a href="~/Student/Index" type="button" class="btn btn-primary">Back</a>

        </form>
    </div>
</div>